<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="tests/bootstrap.php"
  cacheResult="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertDeprecationsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="true"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  stopOnRisky="false"
  timeoutForSmallTests="1"
  timeoutForMediumTests="10"
  timeoutForLargeTests="60"
  verbose="false"
>
  <coverage>
    <include>
      <directory suffix=".php">dist/</directory>
    </include>
    <exclude>
      <directory>dist/vendor/</directory>
    </exclude>
    <report>
      <clover outputFile="clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <!-- For older versions of PHPUnit -->
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">dist/</directory>
      <exclude>
        <directory suffix=".php">dist/vendor/</directory>
        <file>dist/uninstall.php</file>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <server name="DOCUMENT_ROOT" value="tests"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit/</directory>
    </testsuite>
  </testsuites>
  <!-- For older versions of PHPUnit -->
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
  </logging>
</phpunit>
