.sgdg-block-icon {
	height: 20px;
	width: 20px;
}

.sgdg-block-editor-path a {
	cursor: pointer;
}

.sgdg-block-settings-row {
	margin: 0 0 18px 52px;
}

.sgdg-block-settings-description {
	margin-right: 8px;
}

.sgdg-block-settings-row .components-toggle-control {
	display: -moz-inline-box;
	display: inline-block; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	*display: inline;
	margin: 0 0 -6px -52px !important;
	*zoom: 1;
}

.sgdg-block-settings-boolean {
	margin-top: -1px !important;
}

.sgdg-block-settings-integer {
	margin: 0 !important;
	width: 100px !important;
}

.sgdg-block-settings-select:disabled {
	color: rgba(51, 51, 51, 50%);
}

.sgdg-block-settings-radio {
	display: block;
	margin-top: 8px;
}
