.sgdg-gallery-container {
	margin-bottom: 1em;
}

.sgdg-gallery {
	margin: 1em auto 0 auto;
}

.sgdg-grid-a {
	box-shadow: none !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.sgdg-grid-square {
	background-position: center;
	background-size: cover; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.sgdg-grid-img {
	box-shadow: none !important; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	display: block;
	height: 100% !important;
}

.sgdg-dir-overlay {
	background-color: #7f7f7f;
	background-color: rgba(0, 0, 0, 0.5); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
}

.sgdg-dir-counts {
	font-size: 0.8em;
}

.sgdg-count-icon {
	vertical-align: sub;
}

.sgdg-count-icon-indent {
	margin-left: 15px;
}

.sgdg-dir-icon {
	background: #f0f0f0;
	display: block;
}

.sgdg-loading,
.sgdg-loading div {
	border-radius: 50%; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.sgdg-loading {
	background-color: #9b9b9b;
	background-color: rgba(130, 130, 130, 0.8); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-shadow: 0 0 2.5em #b3b3b3; /* 40 */ /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-shadow: 0 0 2.5em rgba(130, 130, 130, 0.6); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	box-sizing: content-box; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	margin: 10px auto;
	padding: 0.65em;
	width: 1.3em;
}

.sgdg-loading div {
	animation: sgdg-loading 0.5s ease infinite; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	background-color: #fff;
	height: 1.3em;
}

@keyframes sgdg-loading {

	from {
		opacity: 0.5; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(0.75); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}

	50% {
		opacity: 1; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(1); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}

	to {
		opacity: 0.5; /* stylelint-disable-line plugin/no-unsupported-browser-features */
		transform: scale(0.75); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	}
}

.sgdg-more-button {
	margin-top: 27px;
	text-align: center;
}

.sgdg-more-button div {
	background-color: #7f7f7f;
	background-color: rgba(0, 0, 0, 0.5); /* stylelint-disable-line plugin/no-unsupported-browser-features */
	border-radius: 2px; /* stylelint-disable-line plugin/no-unsupported-browser-features */
	color: #fff;
	cursor: pointer;
	display: inline;
	padding: 10px 15px;
}

.sgdg-notice-error {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #d63638;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 1px 12px;
}
