.sgdg-gallery-container {
	margin-bottom: 1em;
}

.sgdg-gallery {
	margin: 1em auto 0;
}

.sgdg-grid-a {
	box-shadow: none !important;
}

.sgdg-grid-square {
	background-position: center;
	background-size: cover;
}

.sgdg-grid-img {
	box-shadow: none !important;
	display: block;
	height: 100% !important;
}

.sgdg-dir-overlay {
	background-color: #7f7f7f;
	background-color: rgb(0, 0, 0, 50%);
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
}

.sgdg-dir-counts {
	font-size: 0.8em;
}

.sgdg-count-icon {
	vertical-align: sub;
}

.sgdg-count-icon-indent {
	margin-left: 15px;
}

.sgdg-dir-icon {
	background: #f0f0f0;
	display: block;
}

.sgdg-loading,
.sgdg-loading div {
	border-radius: 50%;
}

.sgdg-loading {
	background-color: #9b9b9b;
	background-color: rgb(130, 130, 130, 80%);
	box-shadow: 0 0 2.5em #b3b3b3; /* 40 */
	box-shadow: 0 0 2.5em rgb(130, 130, 130, 60%);
	box-sizing: content-box;
	margin: 10px auto;
	padding: 0.65em;
	width: 1.3em;
}

.sgdg-loading div {
	animation: sgdg-loading 0.5s ease infinite;
	background-color: #fff;
	height: 1.3em;
}

@keyframes sgdg-loading {

	0% {
		opacity: 0.5;
		transform: scale(0.75);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0.5;
		transform: scale(0.75);
	}
}

.sgdg-more-button {
	margin-top: 27px;
	text-align: center;
}

.sgdg-more-button div {
	background-color: #7f7f7f;
	background-color: rgb(0, 0, 0, 50%);
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline;
	padding: 10px 15px;
}

.sgdg-notice-error {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #d63638;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgb(0, 0, 0, 4%);
	padding: 1px 12px;
}

.ilb-button {
	padding: 0;
}
