.sgdg-root-selection-path a {
	cursor: pointer;
}

.sgdg-notice-error {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #d63638;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgb(0, 0, 0, 4%);
	padding: 1px 12px;
}
