#sgdg-tinymce-modal {
	display: none;
}

.sgdg-tinymce-button-icon {
	margin-left: -5px;
}

#TB_title {/* stylelint-disable-line selector-id-pattern */
	font-size: x-large;
	padding: 15px;
}

#TB_closeWindowButton {/* stylelint-disable-line selector-id-pattern */
	right: 15px;
}

#TB_ajaxContent {/* stylelint-disable-line selector-id-pattern */
	height: 100% !important;
}

#sgdg-tinymce-table {
	margin-top: 15px;
}

.sgdg-tinymce-path a {
	cursor: pointer;
}

.sgdg-tinymce-footer {
	background-color: #fcfcfc;
	border-top: 1px solid #ddd;
	bottom: 0;
	height: 30px;
	left: 0;
	padding: 15px;
	position: absolute;
	right: 0;
}

#sgdg-tinymce-insert {
	float: right;
}
