#sgdg-tinymce-modal {
	display: none;
}

.sgdg-tinymce-button-icon {
	margin-left: -5px;
}

#TB_title { /* stylelint-disable-line selector-id-pattern */
	font-size: x-large;
	padding: 15px;
}

#TB_closeWindowButton { /* stylelint-disable-line selector-id-pattern */
	right: 15px;
}

#sgdg-tinymce-overflow {
	inset: 60px 0;
	overflow-y: auto;
	padding: 0 15px;
	position: absolute;
}

#sgdg-tinymce-table {
	margin: 15px 0;
}

.sgdg-tinymce-path a {
	cursor: pointer;
}

.sgdg-tinymce-footer {
	background-color: #fcfcfc;
	border-top: 1px solid #ddd;
	bottom: 0;
	height: 30px;
	left: 0;
	padding: 15px;
	position: absolute;
	right: 0;
}

#sgdg-tinymce-insert {
	float: right;
}

.sgdg-notice-error {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #d63638;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 4%);
	padding: 1px 12px;
}
