name: "Asset & readme deployment"
on:
  push:
    branches:
      - master
    paths:
      - "assets/**"
      - "src/txt/readme.txt"
env:
  cache-version: 1
jobs:
  deploy:
    name: "Upload assets & readme to wordpress.org"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            assets
            src/txt/readme.txt

      - name: "Install SVN"
        uses: awalsh128/cache-apt-pkgs-action@v1.5.3
        with:
          packages: subversion
          version: ${{ env.cache-version }}

      - name: "Move readme to root"
        run: |
          mv src/txt/readme.txt readme.txt

      - name: WordPress Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-asset-update@2.2.0
        env:
          ASSETS_DIR: assets
          IGNORE_OTHER_FILES: true
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
